%section#work.widgit.white
  %h2= t(:work)
  %p
    %span= t(:part_time_work_student)
    = "#{ @suburb["economy"]["youthWorkPartStudyFull"] }%"
  %p
    %span
      = "#{ t(:unemployment_rate) }: "
    = "#{ @suburb["economy"]["unemplymentRate"] }%"