.container-fluid
  .row-fluid

    %ul{ :class => "breadcrumb" }
      %li
        = link_to "Home", root_path
        %span{ :class => "divider" }
          = "/"
      %li
        = link_to @university["name"], university_path( :university_permalink => @university["permalink"], :suburb_permalink => @suburb["permalink"])
        %span{ :class => "divider" }
          = "/"
      %li{ :class => "active" }
        = link_to @suburb["name"], suburb_path(:university_permalink => @university["permalink"], :suburb_permalink => @suburb["permalink"])

        
    -# #suburb-show.span12
    -#   %h1= @suburb["name"]
    -#   .span6
        -# %h2= @suburb["name"]
      -# %section{ :id => "hero-breakdown" } 
      -#   %div{ :id => "distance" }
      -#     %h3
      -#       Distance
      -#       %span
      -#         6km
      -#   %div{ :id => "distance" }
      -#     %h3
      -#       Affordability
      -#       %span
      -#         $$$$$
      -#   %div{ :id => "ethnicity" }
      -#     %h3
      -#       Ethnicity
      -#       %span
      -#         Chinese, Irish, French
      -#   %div{ :id => "travel" }
      -#     %h3
      -#       = t(:travel_breakdown)
      -#       %span


    #suburb-show
      %h1
        = @suburb["name"]
      
      .span12
        .span5.left
          = render :partial => "pages/suburbs/description"

        .span5.right
          = render :partial => "pages/suburbs/modes_of_travel"

      .row-fluid
        .span12
          = render :partial => "pages/suburbs/photos_of_the_area"
      .row-fluid
        .span5.left
          = render :partial => "pages/suburbs/modes_of_travel"
      .row-fluid
        .span5.left
          %h2= t(:ethnic_background)
          %ul
            %li
              = @suburb["summary"]["ethnicity"]
          = render :partial => "pages/suburbs/ethnicity"

        