.container-fluid
  .row-fluid

    %ul{ :class => "breadcrumb" }
      %li
        = link_to "Home", root_path
        %span{ :class => "divider" }
          = "/"
      %li
        = link_to @university["name"], university_path( :university_permalink => @university["permalink"], :suburb_permalink => @suburb["permalink"])
        %span{ :class => "divider" }
          = "/"
      %li{ :class => "active" }
        = link_to @suburb["name"], suburb_path(:university_permalink => @university["permalink"], :suburb_permalink => @suburb["permalink"])


    #suburb-show
      %h1
        = @suburb["name"]
      
      .span12
        = render :partial => "pages/suburbs/description"

      .row-fluid
        .span3
          = render :partial => "pages/suburbs/population"
        .span3
          = render :partial => "pages/suburbs/accomodation"

        .span3
          = render :partial => "pages/suburbs/work"
        .span3
          = render :partial => "pages/suburbs/modes_of_travel"
      .row-fluid
        .span3
          = render :partial => "pages/suburbs/crime"
        .span3
          = render :partial => "pages/suburbs/streetview"                    
      .row-fluid
        .span12
          = render :partial => "pages/suburbs/photos_of_the_area"          
      .row-fluid
        .span12
          = render :partial => "pages/suburbs/map"                  