.container-fluid
  .row-fluid
    .span12
      .span5
        = image_tag(@university["logo"], :alt =>  @university["name"])
      .span1
      .span6
        %div{ :id => "university-meta" }
          %section#address
            = @university["address"]
            %i{ :class=>"icon-globe" }
          
          %section#phone
            %a{ :href => "tel:#{ @university["phone"] }" }
              = @university["phone"]
            %i{ :class=>"icon-envelope" }
            
  .row-fluid
    .span12
      %section{ :id => "surrounding_suburbs" }
        %h2= t(:suburbs).capitalize
        %ul
          - @university["suburbs"].each do |suburb|
            %li
              %a{ :href => suburb_path(:university_permalink => @university["permalink"], :suburb_permalink => suburb["permalink"]), :class => "suburb span12 #{ cycle("even", "odd") }" }
                = suburb["name"]

    .span12
      %section{ :id => "campus_pictures" }
        %h2= t(:campus_pictures).capitalize