!!! Strict
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title= "#{ yield :title }"

    %link{ :rel => "shortcut icon", :href => "#{ asset_path('favicon.ico') }" }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Roboto', :rel=>'stylesheet', :type=>'text/css'}
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0 initial-scale=1, maximum-scale=1" }

    = stylesheet_link_tag "frontend",:media => "all"

    = yield :css_header

    = javascript_include_tag "frontend.js"
    = yield :js_header
    = csrf_meta_tag
    %link{ :href => 'http://fonts.googleapis.com/css?family=Lato:100', :rel=>'stylesheet', :type=>'text/css'}

  %body
    #content
      = render :partial => "shared/header"      
      .container-fluid
        .breadcrumbs
          = yield :breadcrumbs
        = yield
      = render :partial => "shared/footer"
    = yield :js_footer
